<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Path Parser</title>
  </head>
  <body>
    <form action='/find' method="POST">
      {{ form.csrf_token }}
      {{ form.study }}
      {{ form.study_checkbox }}
      {{ form.category }}
      {{ form.category_checkbox }}
      {{ form.value }}
      {{ form.value_checkbox }}
      <input type="submit" value="Search">
    </form>
    <script src="/static/refresh.js" charset="utf-8"></script>
  </body>
</html>
