<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Path Parser</title>
  </head>
  <body>
    <h1>Path Parser</h1>
    <form action='/parse' method='POST'>
      <p><h3>Enter Path</h3></p>
      <p><input type='text' name='path'</p>
      <p><h3>Enter Study Name</h3></p>
      <p><input type='text' name='study'</p>
      <p><input type='submit' value='Submit'/></p>
    </form>
    <form action="/find" method="GET">
      <p><input type='submit' value='Search Paths'/></p>
    </form>
  </body>
</html>
